@{
ViewData["Title"] = "Apagar a sala";
}

<div class="text-center">

    <h3>Deseja mesmo apagar a sala?</h3>

</div>

<div class="text-center">

    <a class="btn btn-danger" asp-controller="Salas" asp-action="Apagar" role="button">Apagar</a>
    <a class="btn btn-secondary" asp-controller="Salas" asp-action="Index" role="button">Cancelar</a>

</div>