@{
ViewData["Title"] = "Salas";
}

<div class="text-center">
    <h1 class="display-2">Listagem de salas!</h1>
    <hr/>
    <p>
    <table class="table">
        <thead>
        <div>
            <a class="btn btn-primary" role="button" asp-controller="Salas" asp-action="Criar">Adicionar sala</a>
        </div>
        </thead>
        <hr/>
        <tbody>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sala 1</h5>
                    <p class="card-text">Capacidade</p>
                    <a class="btn btn-secondary" role="button" asp-controller="Salas"
                       asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" role="button" asp-controller="Salas"
                       asp-action="Apagar_Confirmacao">Apagar</a>
                </div>
            </div>
        </div>
    </table>
</div>
<hr/>