@{
ViewData["Title"] = "Editar funcionário";
}
<div class="text-center">

    <h1 class="display-3">Editar funcionário!</h1>

    <form>
        <div class="mb-3">
            <label for="exampleNomeFuncionario1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="exampleNomeFuncionario1">
        </div>

        <div class="mb-3">
            <label for="exampleLogin1" class="form-label">Login:</label>
            <input type="text" class="form-control" id="exampleLogin1">
        </div>

        <div class="mb-3">
            <label for="exampleSenha1" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="exampleSenha1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Funcionarios" asp-action="Index" role="button">Voltar</a>
    </form>

</div>