@{
    ViewData["Title"] = "Relatório diário";
}

<div class="text-center">
    <h1 class="display-2">Relatório de funcionários!</h1>
    <hr/>
    
    <p>
    <table class="table">
        <thead>
        <tr>
            <div>
                <a class="btn btn-primary" role="button" asp-controller="Funcionarios" asp-action="Relatorio_Diario">Gerar relatório</a>
            </div>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </p>
</div>