@{
ViewData["Title"] = "Detalhes da sessão";
}
<div class="text-center">

    <h1 class="display-3">Detalhes da sessão!</h1>

    <form>
        <div class="mb-3">
            <label for="exampleInputSala1" class="form-label">Sala:</label>
            <input type="text" class="form-control" id="exampleInputSala1">
        </div>

        <div class="mb-3">
            <label for="exampleInputFilme1" class="form-label">Filme:</label>
            <input type="text" class="form-control" id="exampleInputFilme1">
        </div>

        <div class="mb-3">
            <label for="exampleInputHorário1" class="form-label">Horário:</label>
            <input type="datetime-local" class="form-control" id="exampleInputHorário1">
        </div>

        <div class="mb-3">
            <label for="exampleInputIngresso1" class="form-label">Quantidade de ingressos:</label>
            <input type="number" class="form-control" id="exampleInputIngresso1">
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Sessoes" asp-action="Index" role="button">Voltar</a>
            <a class="btn btn-danger" role="button" asp-controller="Sessoes" asp-action="Vender_Ingresso">Comprar
                ingresso</a>
    </form>

</div>

