@{
    ViewData["Title"] = "Sessões";
}

<div class="text-center">
    <h1 class="display-3">Filmes disponíveis!</h1>
    <hr />
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Filme</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Ingressos disponíveis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </p>
</div>
