@{
    ViewData["Title"] = "Sessões";
}
<div>
    <a class="btn btn-primary" role="button" asp-controller="Sessoes" asp-action="Criar">Adicionar sessão</a>
</div>

<div class="text-center">
    <h1 class="display-2">Sessões disponíveis!</h1>
    <hr />
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Filme</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Ingressos disponíveis</th>
                </tr>
            </thead>
            <hr />
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes" asp-action="Editar" >Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes" asp-action="Apagar_Confirmacao">Apagar</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
    <td>
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" role="button" asp-controller="Sessoes" asp-action="Editar" >Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes" asp-action="Apagar_Confirmacao">Apagar</a>
        </div>
    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>
                    <div class="btn-group" role="group">
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes" asp-action="Editar" >Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes" asp-action="Apagar_Confirmacao">Apagar</a>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <hr />
</div>
