@{
    ViewData["Title"] = "Sessões";
}
<div class="text-center">
    <h1 class="display-2">Sessões disponíveis!</h1>
    <hr />
    <div>
        <a class="btn btn-primary" role="button" asp-controller="Sessoes" asp-action="Criar">Adicionar sessão</a>
    </div>
    <p>

        <table class="table">
            <thead>
            <tr>
            </tr>
            </thead>
            <hr/>
            <tbody>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filme 1</h5>
                            <p class="card-text">Descrição 1</p>
                            <a class="btn btn-primary" asp-controller="Sessoes" asp-action="Detalhes">Detalhes</a>
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes"
                               asp-action="Editar">Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes"
                               asp-action="Apagar_Confirmacao">Apagar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filme 2</h5>
                            <p class="card-text">Descrição 2</p>
                            <a class="btn btn-primary" asp-controller="Sessoes" asp-action="Detalhes">Detalhes</a>
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes"
                               asp-action="Editar">Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes"
                               asp-action="Apagar_Confirmacao">Apagar</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr />

            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filme 3</h5>
                            <p class="card-text">Descrição 3</p>
                            <a class="btn btn-primary" asp-controller="Sessoes" asp-action="Detalhes">Detalhes</a>
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes"
                               asp-action="Editar">Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes"
                               asp-action="Apagar_Confirmacao">Apagar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filme 4</h5>
                            <p class="card-text">Descrição 4</p>
                            <a class="btn btn-primary" asp-controller="Sessoes" asp-action="Detalhes">Detalhes</a>
                            <a class="btn btn-secondary" role="button" asp-controller="Sessoes"
                               asp-action="Editar">Editar</a>
                            <a class="btn btn-danger" role="button" asp-controller="Sessoes"
                               asp-action="Apagar_Confirmacao">Apagar</a>
                        </div>
                    </div>
                </div>
            </div>
            
            </tbody>
        </table>
    </p>
    <hr />
</div>
