@{
ViewData["Title"] = "Adicionar cliente";
}
<div class="text-center">

    <h1 class="display-3">Adicionar cliente!</h1>

    <form>
        <div class="mb-3">
            <label for="exampleInputClienteNome1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="exampleInputClienteNome1">
        </div>

        <div class="mb-3">
            <label for="exampleInputClienteCPF1" class="form-label">CPF:</label>
            <input type="text" class="form-control" id="exampleInputClienteCPF1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Clientes" asp-action="Index" role="button">Voltar</a>
    </form>

</div>