@{
ViewData["Title"] = "Clientes";
}


<div class="text-center">
    <h1 class="display-2">Listagem de clientes!</h1>
    <hr/>
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Criar">Adicionar cliente</a>
    </div>

    <p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
        </tr>
        </thead>
        <hr/>
        <tbody>
        <tr>
            <th scope="row">Teste</th>
            <td>Teste</td>
            <td>Teste</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" role="button" asp-controller="Clientes" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" role="button" asp-controller="Clientes" asp-action="Apagar_Confirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Teste</th>
            <td>Teste</td>
            <td>Teste</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" role="button" asp-controller="Clientes" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" role="button" asp-controller="Clientes" asp-action="Apagar_Confirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Teste</th>
            <td>Teste</td>
            <td>Teste</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" role="button" asp-controller="Clientes" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" role="button" asp-controller="Clientes" asp-action="Apagar_Confirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </p>
    <hr/>
</div>