@model DetalhesFilmeViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4">
        <strong>Gênero:</strong> @Model.Titulo
    </label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
    <label class="fs-5">
        <strong>Categoria:</strong> @Model.Lancamento
    </label>
    <label class="fs-5">
        <strong>Duração:</strong> @Model.Duracao
    </label>
    <label class="fs-5">
        <strong>Gênero:</strong> @Model.Genero
    </label>
</div>