@{
    ViewData["Title"] = "Genêro de filme";
}
<div class="text-center">

    <h1 class="display-3">Adicionar genêro de filme!</h1>

    <form>
        <div class="mb-3">
            <label for="exampleInputDescrição1" class="form-label">Descrição:</label>
            <input type="text" class="form-control" id="exampleInputDescrição1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Filmes" asp-action="Index" role="button">Voltar</a>
    </form>

</div>